:root{
    --primary-color: #9A8C98;
    --secondary-color:#4A4E69;
    --accent-color:#F2E9E4;
    --font-color: #22223B;
}
body{
    background:var(--primary-color);
    opacity: 0.7;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}

p {
font-family: 'Poppins', sans-serif;
font-weight: normal;
}

